<br>
<div class="jumbotron">
  <div class="row">
    <h1 class="text-center">Blocipedia</h1>
    <p class="lead text-center">Create and share markdown wikis</p>
    <p class="text-center"><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h4 class="text-center">Create as many public wikis as you want!</h4><br>
      <p class="text-center"><%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">Create private wikis!</h4><br>
      <p class="text-center"><%= link_to "Premium Plan", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
</div> 