<br>
<div class="row">
  <div class="col-md-8">
    <% if policy(Page.new).create? %>
      <%= link_to "Create wiki page", new_page_path(@page), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h1>All Pages</h1>
      <% @pages.each do |page| %>
      <h4><%= link_to page.title, page %></h4>
    <% end %>
  </div>
</div>
