<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone wants to collaborate with you on Blocipedia!</h1>
    <p><%= @sender.name %> has invited you to collaborate on the <%= @wiki_page %> wiki page on Blocipedia.<br></p>
    
    <p><%= link_to('Click here to get started.', @url) %></p>
    
  </body>
</html>